
{% extends 'Administrator/admin-base.html' %}

{% block title %}Home - RideSwift{% endblock %}

{% block content %}
<style>
    .body-container{
        box-shadow: #3333333f 0 10px 20px;
    }
</style>
<div class="content-body">
    <div class="box">
        <div class="title">
           <h3> All Passengers </h3>
        </div>
        <form method="get">
        <div class="search"> 
            <input type="text" name="q" placeholder="Search Passenger" />
            <button type="submit"><i class="ri-search-line"></i></button>
        </div>
    </form>
    </div>
    <svg class="line" xmlns="http://www.w3.org/2000/svg">
        <path d="M0,50 L1200,50" stroke="orange" stroke-width="2" fill="none" stroke-dasharray="5,5" />
    </svg>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
            {% for user in users %}
            <tr>
                <td></td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_no }}</td>
                <td>{{ user.address }}</td>
                <td><a href="{% url 'deleteUser' user.id %}" class="btn btn-success">delete</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td style="text-align: center;" colspan="6">No Passengers Found</td>
            </tr>
            {% endif %}
        </tbody>
        
    </table>
</div>
{% endblock %}