{% extends 'base.html' %}

{% block title %}Home - RideSwift{% endblock %}

{% block content %}
{% load static %}
<br>
<br>
    <header class="header__container">
      <div >
        <div class="form">
            <div class="header">
                <h2>Create an account</h2>
                <p>Already have an account,<a class="link" href="{% url 'login' %}">Login</a></p>
            </div>
            <div class="body" style="width: auto; height: auto;">
                <div class="pagination">
                    <div class="number active">1</div>
                    <div class="bar"></div>
                    <div class="number">2</div>
                </div><br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="steps">
                    <div class="step">
                        <h4>Passenger details</h4>
                        <p>Basic information of the Passenger.</p>
                        <div class="grid">
                            <div class="col">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name" placeholder="Enter your name" required>
                            </div>
                            <div class="col">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="col">
                                <label for="phone">Phone no</label>
                                <input type="text" id="phone" name="phone" placeholder="Enter your phone number" required>
                            </div>
                            <div class="col">
                                <label for="address">Address</label>
                                <input type="text" id="address" name="address" placeholder="Enter your address" required>
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <h4>Account security</h4>
                        <p>Create a Password to complete the registration</p>
                    <div class="grid">
                        <div class="col">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <div class="col">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required>
                        </div>
                    </div>    
                    <br><br><br>
                    <div class="confirmation">
                        <div>
                            <button class="btn-com">Create account</button>
                        </div>
                    </div>    
                    </div>
                </div>
                </form>
                
                <!-- </div> -->
            </div>
            <div class="footer">
                <button class="prev" disabled>Previous</button>
                <button class="next">Next</button>
            </div>
        </div>
      </div>
      <div class="header__image">
        <img src="{% static 'assets/header.png' %}" alt="header" />
      </div>
    </header>
<script>
    (function(){
	let currentPage = 1;
	const prevBtn = document.querySelector(".form .footer .prev");
	const nextBtn = document.querySelector(".form .footer .next");
	function movePage(){
		prevBtn.disabled = false;
		nextBtn.disabled = false;
		if(currentPage === 1){
			prevBtn.disabled = true;
		} else if(currentPage === 2){
			nextBtn.disabled = true;
		}
		document.querySelector(".form .pagination .active").classList.remove("active");
		document.querySelectorAll(".form .pagination .number")[currentPage-1].classList.add("active");
		const stepNode = document.querySelector(".form .steps .step");
		const width = ((currentPage-1)*stepNode.offsetWidth*-1)+"px";
		stepNode.parentNode.style.marginLeft = width;
	}
	prevBtn.addEventListener("click",function(){
		currentPage -= 1;
		movePage();
	});
	nextBtn.addEventListener("click",function(){
		currentPage += 1;
		movePage();
	});
})();


const input = document.querySelector("#vehicle_image");
input.onchange = function() {
  const fileName = this.files[0]?.name;
  const label = document.querySelector(".imglab");
  label.innerText = fileName ?? "Browse Files";
   };
</script>
{% endblock %}